# vim: set filetype=sh:

# Check (naively) for busybox machines
BBOX=$(ls --help 2>&1 | grep -c BusyBox)
if [ "${BBOX}" == 0 ] && [ "$(uname -s)" == "Linux" ]; then
    ARGLSDIR="--group-directories-first"
    ARGLSTIM="--time-style=long-iso"
else
    ARGLSDIR=""
    ARGLSTIM=""
fi

# Enable color support
# - presence of dircolor implicates GNU, and the rest is BSD world (works for me)
if [ $(type -p dircolors) ]; then
    [ -r ~/.dircolors ] && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls="ls --color=auto ${ARGLSTIM}"
    alias dir='dir --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
else
    export CLICOLOR=1
    export GREP_OPTIONS='--color=auto'
    export GREP_COLOR='1;31;40'
fi

# ls
alias l="ls -l ${ARGLSDIR}"     # long listing format and si units
alias ll="ls -la ${ARGLSDIR}"   # long listing format including config files
alias lr="ls -R ${ARGLSDIR}"    # recursive listing, loosely reminding command tree
alias lS='ls -lS'               # sort by size
alias lt='ls -lt'               # sort by mod time, reverse order

# rm, mv
alias rm='rm -i'
alias mv='mv -i'

# history
alias h='history | tail -15'

# cd
alias ..='cd ..'
alias ...='cd ../..'
alias .,='cd $OLDPWD'

# package manager
if [ $(type -p yum) ]; then
    alias pkgs='yum search'
    alias pkgS='yum info'
    alias pkgl='repoquery --list --installed'
    alias pkgf='yum provides'
    alias pkgi='sudo yum install'
    alias pkgr='sudo yum remove'
    alias pkgd='yum deplist'
    alias pkgh='sudo yum history'
elif [ $(type -p rpm) ]; then
    alias pkgs='rpm -qa'
    alias pkgS='rpm -qi'
    alias pkgl='rpm -ql'
    alias pkgf='rpm -qf'
    alias pkgi='sudo rpm -iv'
    alias pkgr='sudo rpm -ev'
elif [ $(type -p dpkg) ]; then
    alias pkgs='apt-cache search'
    alias pkgS='apt-cache show'
    alias pkgl='dpkg --listfiles'
    alias pkgf='dpkg --search'
    alias pkgi='sudo apt-get install'
    alias pkgr='sudo apt-get remove'
    alias pkga='sudo apt-get autoremove'
    alias pkgu='sudo apt-get update'
    alias pkgU='sudo apt-get upgrade'
elif [ $(type -p brew) ]; then
    alias pkgs='brew search'
    alias pkgS='brew info'
    alias pkgl='brew list'
    alias pkgf='find $(brew --cellar) -name'
    alias pkgi='brew install'
    alias pkgr='brew uninstall'
    alias pkgu='brew update'
    alias pkgU='brew upgrade'
    alias pkgd='brew deps'
elif [ $(type -p pkg_info) ]; then
    alias pkgs='pkg_info -Q'
    alias pkgS='pkg_info'
    alias pkgl='pkg_info -L'
    alias pkgf='pkg_info -E'
    alias pkgi='doas pkg_add'
    alias pkgr='doas pkg_delete'
    alias pkgu='doas pkg_add -u'
elif [ $(type -p pkg)]; then
    alias pkgs='pkg search'
    alias pkgS='pkg info'
    alias pkgl='pkg info --list-files'
    alias pkgf='pkg which'
    alias pkgi='sudo pkg install'
    alias pkgr='sudo pkg delete'
    alias pkga='sudo pkg autoremove'
    alias pkgu='sudo pkg update'
    alias pkgU='sudo pkg upgrade'
fi

# 't' - todo list manager
# https://github.com/sjl/t
if [ -e ~/.local/bin/t/t.py ]; then
    alias t='~/.local/bin/t/t.py --task-dir ~/tasks --list tasks'
    #export PS1="[$(t | wc -l | sed -e's/ *//')] $PS1"
fi
